//COLORS
// $color-primary-light: #e3cf9a;
// $color-primary-light-1: #fbf3ec;
// $color-primary: #c69e35;
// $color-primary-dark: #8b6f25;

// $color-secondary-light: #c4d0e5;
// $color-secondary: #c1e0e8;
// $color-secondary-dark: #202939;

// $color-tertiary: #d0b894;
// $color-tertiary-dark: #251c12;

//FONT VARIABLES
$ff-sans-serif: 'Lato', sans-serif;
$ff-serif: 'Cardo', serif;

$color-primary-light: #f8e2c6;
$color-primary-light-1: #d6b593;
$color-primary: #faa919;
$color-primary-dark: #be8d2e;

$color-secondary-light: #c7dae8;
$color-secondary: #6992b8;
$color-secondary-dark: #35495c;

$color-tertiary: #b28c6a;
$color-tertiary-dark: #493323;

//BREAKPOINTS
$bp-3840: 240em; // 3840px
$bp-1420: 88.75em; // 1420px
$bp-1200: 75em; //1200px
$bp-940: 58.75em; // 940px;
$bp-850: 53.125em; // 850px;
$bp-707: 44.1875em; // 707px;
$bp-450: 28.125em; // 450px;

// @media only screen and (max-width: $bp-1420) {

// }
