<footer class="footer">
  <div class="footer-logo-box">
    <img src="/img/logo_1.png" alt="Logo" class="footer-logo-box__img" />
  </div>
  <div class="footer-info">
    <div class="footer-info__social">
      <svg>
        <use href="/img/icomoon/sprite.svg#icon-twitter"></use>
      </svg>
      <svg>
        <use href="/img/icomoon/sprite.svg#icon-instagram"></use>
      </svg>
    </div>
    <div class="footer-info__links">
      <a href="/terms">Terms and Conditions</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
    <div class="footer-info__copyright">
      <p>&copy; 2021 Christina Milona and Kostas Christou</p>
    </div>
    <div id="flaticon">
      Icons made by
      <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons"
        >Smashicons</a
      >
      and
      <a
        href="https://www.flaticon.com/authors/pixel-perfect"
        title="Pixel perfect"
        >Pixel perfect</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </div>
</footer>
</html>
