<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="This is an e-commerce website where a visitor can buy pies as a signed in user or as a simple guest"
    />
    <meta
      name="keywords"
      content="junior web developer, portfolio, Milona Christina"
    />
    <meta
      name="title"
      property="og:title"
      content="Milonas Christina portfolio - e-commerce website"
    />
    <meta property="og:type" content="website" />
    <meta
      name="image"
      property="og:image"
      content="https://photos.google.com/photo/AF1QipMFt7G5HDxDNzRx2nOhqONJTX-5qgem6nt81WRW"
    />
    <meta
      name="description"
      property="og:description"
      content="This is an e-commerce website where a visitor can buy pies as a signed in user or as a simple guest"
    />
    <meta name="author" content="Milona Christina" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pop Pie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/client.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
</html>
