<%- include('partials/head') -%>
<body>
  <div class="container">
    <%- include('partials/header') -%>
    <main class="home">
      <section class="hero">
        <h1 class="hero__heading">Freshly made, to your plate</h1>
        <h3 class="hero__text">
          Every day we serve fresh pies with top quality ingredients.
        </h3>
        <button class="hero__btn btn-solid" data-hero-btn>
          Discover our pies
        </button>
      </section>
      <section class="favorites">
        <div class="slide-box slide-box--1" data-favorites-slidebox>
          <h3 class="slide-box__heading--1">
            Always in search for a new experience,<br />
            our products speak for themselves.
          </h3>
        </div>
        <div class="slide-box slide-box--2" data-favorites-slidebox>
          <div class="slide-box-left">
            <h3 class="slide-box-left__heading slide-box-left__heading--2">
              Black chocolate pie with sea salt
            </h3>
            <p class="slide-box-left__text slide-box-left__text--2">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum,
              sequi. Amet maxime quos sint debitis aliquid!
            </p>
          </div>
          <div class="slide-box-right">
            <img
              src="img/pies/chocolate-tarte_razvan-mirel.jpg"
              alt="chocolate pie"
            />
          </div>
        </div>
        <div class="slide-box slide-box--3" data-favorites-slidebox>
          <div class="slide-box-left">
            <h3 class="slide-box-left__heading slide-box-left__heading--3">
              Tomato basil pie
            </h3>
            <p class="slide-box-left__text slide-box-left__text--3">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, ad
              amndum speculorem.
            </p>
          </div>
          <div class="slide-box-right">
            <img
              src="img/pies/cheese-tomato-basil-pie_lum3n.jpg"
              alt="tomatobasil pie"
            />
          </div>
        </div>
        <div class="slide-box slide-box--4" data-favorites-slidebox>
          <div class="slide-box-left">
            <h3 class="slide-box-left__heading slide-box-left__heading--4">
              Fruit pie with prunes and apricot
            </h3>
            <p class="slide-box-left__text slide-box-left__text--4">
              Lorem ipsum dolor sit, amet adipisicing elit. Cum, Lorem ipsum
              dolor sit, amet consectetur elit.
            </p>
          </div>
          <div class="slide-box-right">
            <img
              src="img/pies/prunes-apricot-fig-pie_priscilla-du-preez.jpg"
              alt="prunes apricot fruit pie"
            />
          </div>
        </div>
        <span class="favorites__previous" data-favorites-previous
          >&#10094;</span
        >
        <span class="favorites__next" data-favorites-next>&#10095;</span>
        <div class="dot-box">
          <span
            class="dot-box__dot dot-box__dot--1"
            data-favorites-dot="1"
          ></span>
          <span
            class="dot-box__dot dot-box__dot--2"
            data-favorites-dot="2"
          ></span>
          <span
            class="dot-box__dot dot-box__dot--3"
            data-favorites-dot="3"
          ></span>
          <span
            class="dot-box__dot dot-box__dot--4"
            data-favorites-dot="4"
          ></span>
        </div>
      </section>
      <section class="ingredients">
        <div class="imgbox">
          <img src="img/flour_olga-kudriavtseva.jpg" alt="flour" />
        </div>
        <div class="textbox">
          <h3 class="textbox__heading">
            We choose only top quality ingredients
          </h3>
          <p class="textbox__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
            alias facere hic ex tempore magni ad quo. Eveniet totam molestiae
            vero. I ipsum dolor sit amet consectetur adipisicing elit obcaecati,
            alias facere hic ex tempore magni ad quo. Eveniet totam molestiae
            vero.
          </p>
          <a href="/ingredients" class="textbox__link">Read more &rarr;</a>
        </div>
      </section>
      <section class="orders">
        <div class="division">
          <h3 class="division__heading">Custom Orders</h3>
          <p class="division__text">
            We make your desires reality. Contact us to create together your
            favorite pie
          </p>
        </div>
        <div class="vl">&nbsp;</div>
        <div class="division">
          <h3 class="division__heading">Wholesale</h3>
          <p class="division__text">
            Are you looking to buy products in bulk? We take wholesale orders
            too!
          </p>
        </div>
        <div class="vl">&nbsp;</div>
        <div class="division">
          <h3 class="division__heading">Catering</h3>
          <p class="division__text">
            Stationary platters, hors d’oeuvres and small stations of your
            choice. Always close to our customers.
          </p>
        </div>
      </section>
    </main>
    <%- include('partials/footer') -%>
  </div>
</body>
