<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main>
    <section class="suppliers">
      <h2 class="suppliers__heading">
        Organic products from certified suppliers
      </h2>
      <div class="grid-container">
        <img
          src="img/ingredients/carrots.jpg"
          alt="carrots"
          class="grid-container__img grid-container__img--1"
        />

        <p class="grid-container__text grid-container__text--1">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore est
          quasi excepturi perspiciatis vitae adipisci minima perferendis
          voluptas quibusdam maiores.
        </p>

        <img
          src="img/ingredients/papaya_little-plant.jpg"
          alt="papaya"
          class="grid-container__img grid-container__img--2"
        />
        <p class="grid-container__text grid-container__text--2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore est
          quasi excepturi perspiciatis.
        </p>
        <p class="grid-container__text grid-container__text--3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          nostrum, corporis.
        </p>
        <img
          src="img/ingredients/mushrooms-1.jpg"
          alt="mushrooms"
          class="grid-container__img grid-container__img--3"
        />
        <p class="grid-container__text grid-container__text--4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          nostrum, corporis.
        </p>
        <img
          src="img/ingredients/apples_annie-spratt .jpg"
          alt="apples"
          class="grid-container__img grid-container__img--4"
        />

        <img
          src="img/ingredients/strawberries__heather-barnes.jpg"
          alt="strawberries"
          class="grid-container__img grid-container__img--5"
        />
        <p class="grid-container__text grid-container__text--5">
          vitae adipisci minima perferendis voluptas quibusdam maiores. I ipsum
          dolor, sit amet consectetur adipisicing elit. Ab, esse.
        </p>
        <img
          src="img/ingredients/herbs.jpg"
          alt="herbs"
          class="grid-container__img grid-container__img--6"
        />
        <p class="grid-container__text grid-container__text--6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          illum iste optio autem quam.
        </p>
      </div>
    </section>
  </main>
  <%- include('partials/footer') -%>
</body>
