<%- include('partials/head') -%>
<body>
  <%- include('partials/header') -%>
  <main class="terms">
    <div class="terms-container">
      <h1 class="terms-container__heading">Privacy policy</h1>

      <p class="terms-container__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quod
        nam dolorem eos aspernatur sed sapiente distinctio totam nihil, qui quos
        incidunt quam delectus voluptates. Dolore explicabo, rerum aperiam
        reprehenderit alias consectetur ea nobis dicta eaque tempora ut corporis
        at magnam sapiente, voluptatibus, veritatis cupiditate.
      </p>
      <p class="terms-container__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
        tenetur. Quisquam eveniet omnis recusandae deserunt iure quibusdam
        nobis, sunt assumenda iusto nisi ad quia, totam praesentium doloremque
        voluptatum! Saepe quisquam possimus dolores aut repellendus omnis nihil
        quasi dignissimos perferendis adipisci!
      </p>
      <p class="terms-container__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Exercitationem, iure consequatur esse illum quam cupiditate pariatur!
        Quas quibusdam, adipisci soluta unde tempore, quo facilis commodi
        pariatur atque dolor dolorem itaque.
      </p>
    </div>
  </main>
  <%- include('partials/footer') -%>
</body>
